<?xml version="1.0"?>
<module name="getty">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<component id="getty" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				getty
			</location>
		</component>

		<component id="config" generated="false">
			<kind type="config"/>
			<location basedir="config" runtime="false" subdirs="true">.</location>
		</component>

	</contents>
</module>
