<?xml version="1.0"?>
<module name="mailx">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<component id="mailx" generated="true">
			<location basedir="nto/x86/o" runtime="true">
				mailx
			</location>
		</component>

	</contents>

	<requires>
		<part build="true" location="lib/compat"/>
<!--		<part build="true" location="lib/socket"/> -->
	</requires>

</module>
