<?xml version="1.0"?>
<module name="mq">

	<type>Element</type>

	<classification>SDK</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>os</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>

		<component id="SharedObj" generated="true">
			<kind type="library"/>
			<location basedir="{cpu}/so{.:endian}" runtime="true">
				libmq.so
			</location>
		</component>

		<component id="Archive" generated="true">
			<kind type="library"/>
			<location basedir="{cpu}/a{.:endian}" runtime="false">
				libmq.a
			</location>
		</component>

	</contents>


	<requires>
		<part build="false" location="services/system"/>
		<part build="false" location="services/net/npm/qnet"/>
	</requires>

</module>
