<?xml version="1.0"?>
<module name="cksum">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="guihosts"/>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<package isHost="true">
		<component id="cksum" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				cksum
			</location>
		</component>
		</package>

		<package>
			<component id="cksum_target" generated="true">
				<location basedir="{os}/{cpu}/o{.:endian}" os="nto" isa="{cpu}" byteorder="{endian}" runtime="true">cksum</location>
			</component>
		</package>
	</contents>

	<requires>
		<part build="true" location="lib/compat"/>
	</requires>

</module>
