<?xml version="1.0"?>
<module name="seed_hsr">
	<type>Element</type>
	<classification>Runtime</classification>

	<supports> 
		<availability>
         <cpu isa="arm"><byteOrder>le</byteOrder></cpu>
      </availability>
	</supports>

	<source available="false">
		<location>.</location>
	</source>

	<contents>
		<component id="seed_hsr" generated="true">
			<location basedir="{cpu}/o{.:endian}"
				runtime="true">seed_hsr</location>
		</component>	
   </contents>
	
</module>
