<?xml version="1.0"?>
<module name="errno">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<component id="errno" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				errno
			</location>
		</component>

	</contents>

</module>
