<?xml version="1.0"?>
<module name="ps">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<component id="ps" generated="true">
			<location basedir="{os}/{cpu}/{o|endian}" runtime="true">
				ps
			</location>
		</component>

	</contents>

	<requires>
<!--		<part build="false" location="lib/io-char"/> -->
<!--		<part build="false" location="services/system"/> -->
	</requires>

</module>
