<?xml version="1.0"?>
<module name="uname">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
		<availability supported="true" >
	            <os name="win32" ><cpu isa="x86" /></os>
		</availability>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<package isHost="true">
		<component id="uname" generated="true">
			<location basedir="{os}/{cpu}/{o|endian}" runtime="true">
				uname
			</location>
		</component>
		</package>

		<package>
		<component id="uname_target" generated="true">
			<location basedir="{os}/{cpu}/{o|endian}" os="nto" isa="{cpu}" byteorder="{endian}" runtime="true">
				uname
			</location>
		</component>
		</package>
	</contents>

	<requires>
		<part build="true" location="lib/compat"/>
	</requires>

</module>
