<?xml version="1.0"?>
<module name="lzo">

	<type>Element</type>

	<classification>SDK</classification>

	<supports>
		<availability ref="ostargets"/>
		<availability ref="toolshosts"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>os</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<package isHost="true" isInternal="true">
			<component id="Archive" generated="true">
				<kind type="library"/>
				<location basedir="{os}/{cpu}/a{.:endian}" runtime="false">
					liblzo.a
				</location>
			</component>

			<component id="header" generated="false">
				<kind type="header"/>
				<source available="true">
					<location basedir="public" runtime="false">
						.
					</location>
				</source>
			</component>
		</package>

		<package>
			<component id="Archive" generated="true">
				<kind type="library"/>
				<location os="nto" isa="{cpu}" byteorder="{endian}" basedir="nto/{cpu}/a{.:endian}" runtime="false">
					liblzo.a
				</location>
				<location os="nto" isa="{cpu}" byteorder="{endian}" basedir="nto/{cpu}/a{.:endian}.shared" runtime="false">
					liblzoS.a
				</location>
			</component>

			<component id="header" generated="false">
				<kind type="header"/>
				<source available="true">
					<location basedir="public" runtime="false">
						.
					</location>
				</source>
			</component>
		</package>

	</contents>

</module>
