<?xml version="1.0"?>
<module name="cat">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="guihosts"/>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<package isHost="true">
		<component id="cat" generated="true">
			<location basedir="{os}/{cpu}/{o|endian}" runtime="true">
				cat
			</location>
		</component>
		</package>

		<package>
		<component id="cat_target" generated="true">
			<location os="nto" isa="{cpu}" byteorder="{endian}" basedir="{os}/{cpu}/{o|endian}" runtime="true">
				cat
			</location>
		</component>
		</package>

	</contents>

	<requires>
		<part build="false" location="lib/compat"/>
	</requires>

</module>
