<?xml version="1.0"?>
<module name="tr">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<component id="tr" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				tr
			</location>
		</component>

	</contents>

	<requires>
		<part build="true" location="lib/util"/>
	</requires>

</module>
