<?xml version="1.0"?>
<module name="umount">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>tools</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<component id="umount" generated="true">
			<location basedir="{os}/{cpu}/{o|endian}" runtime="true">
				umount
			</location>
		</component>

	</contents>

</module>
