<?xml version="1.0"?>
<module name="mq">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>os</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<component id="mq" generated="true">
			<location basedir="{cpu}/{o|endian}" runtime="true">
				mq
			</location>
		</component>

	</contents>


	<requires>
		<part build="false" location="services/system"/>
		<part build="false" location="services/net/npm/qnet"/>
	</requires>

</module>
