<?xml version="1.0"?>
<module name="seedres">
	<type>Element</type>
	<classification>Runtime</classification>

	<supports> 
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location>.</location>
	</source>

     <GroupOwner>hw</GroupOwner>
     <RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<component id="seedres" generated="true">
			<location basedir="x86/o"
				runtime="true">seedres</location>
		</component>	
   </contents>
	
</module>
