<?xml version="1.0"?>
<module name="who">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<component id="who" generated="true">
			<location basedir="nto/x86/o" os="nto" isa="x86" runtime="true">
				who
			</location>
		</component>

	</contents>

</module>
