<?xml version="1.0"?>
<module name="tracelogger">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>os</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<component id="tracelogger" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				tracelogger
			</location>
		</component>

	</contents>

</module>
