<?xml version="1.0"?>
<module name="canonical_dos_path">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="toolshosts"/>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent></RuntimeComponent>

	<contents>
		<package isHost="true">
		<component id="canonical_dos_path" generated="true">
			<location basedir="win32/x86/o" os="win32" isa="x86" runtime="true">
				canonical_dos_path
			</location>
		</component>
		</package>
	</contents>

</module>
