<?xml version="1.0"?>
<module name="mig4nto">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>os</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<component id="mig4nto" generated="true">
			<location basedir="nto/x86/o" runtime="true">
				mig4nto
			</location>
		</component>

	</contents>

</module>
