<?xml version="1.0"?>
<module name="pax_qnx">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="guihosts"/>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<package isHost="true">
		<component id="pax_qnx" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				pax
			</location>
		</component>
		</package>

		<package>
		<component id="pax_qnx_target" generated="true">
			<location basedir="nto/{cpu}/o{.:endian}" os="nto" isa="{cpu}" byteorder="{endian}" runtime="true">
				pax
			</location>
		</component>
		</package>
	</contents>

	<requires>
		<part build="true" location="lib/compat"/>
		<part build="false" location="lib/util"/>
	</requires>

</module>
