<?xml version="1.0"?>
<module name="file">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<component id="file" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				file
			</location>
		</component>

		<component id="config" generated="false">
			<kind type="config"/>
			<location basedir="config" runtime="false" subdirs="true">.</location>
		</component>

	</contents>

	<requires>
<!--		<part build="true" location="lib/socket"/> -->
	</requires>

</module>
