<?xml version="1.0"?>
<module name="ln-w">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="toolshosts"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent></RuntimeComponent>

	<contents>
		<package isHost="true">
		<component id="ln-w" generated="true">
			<location basedir="win32/x86/o" os="win32" isa="x86" runtime="true">
				ln-w
			</location>
		</component>
		</package>

	</contents>

</module>
