<?xml version="1.0"?>
<module name="enterkd">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>os</GroupOwner>
	<RuntimeComponent>Internal</RuntimeComponent>


	<contents>
		<component id="enterkd" generated="true">
			<location basedir="{os}/{cpu}/{o|endian}" runtime="true">
				enterkd
			</location>
		</component>
	</contents>

	<requires>
<!--		<part build="false" location="services/system"/> -->
	</requires>

</module>
