<?xml version="1.0"?>
<module name="patch">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent></RuntimeComponent>

	<contents>
		<component id="patch" generated="true">
			<location basedir="{os}-{cpu}-{o|endian}" runtime="true">
				patch
			</location>
		</component>

	</contents>

</module>
