<?xml version="1.0"?>
<module name="swapctl">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>os</GroupOwner>
	<RuntimeComponent></RuntimeComponent>


	<contents>
		<component id="swapctl" generated="true">
			<location basedir="nto/x86/o" os="nto" isa="x86" runtime="true">
				swapctl
			</location>
		</component>

	</contents>

</module>
