<?xml version="1.0"?>
<module name="textmode">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>

     <GroupOwner>gui</GroupOwner>
     <RuntimeComponent></RuntimeComponent>


	<contents>
		<component id="textmode" generated="true">
			<location basedir="{os}/{cpu}/{o|endian}" runtime="true">
				textmode
			</location>
		</component>

	</contents>

	<requires>
		<part build="false" location="lib/io-char"/>
		<part build="false" location="hardware/devg"/>
		<part build="true" location="lib/disputil"/>
	</requires>

</module>
