<?xml version="1.0"?>
<module name="elf">

	<type>Element</type>

	<classification>SDK</classification>

	<supports>
		<availability ref="ostargets"/>
		<availability ref="toolshosts"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>os</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<package>
			<component id="Archive" generated="true">
				<kind type="library"/>
				<location basedir="nto/{cpu}/a{.:endian}" os="nto" isa="{cpu}" byteorder="{endian}" runtime="false">
					libelf.a
				</location>
			</component>

			<component id="SharedArchive" generated="true">
				<kind type="library"/>
				<location basedir="nto/{cpu}/a{.:endian}.shared" os="nto" isa="{cpu}" byteorder="{endian}" runtime="false">
					libelfS.a
				</location>
			</component>

			<component id="header" generated="false">
				<kind type="header"/>
				<source available="true">
					<location basedir="public" runtime="false" subdirs="true">
						.
					</location>
				</source>
			</component>
		</package>
	</contents>


	<requires>
		<part build="true" location="lib/compat"/>
	</requires>

</module>
