<?xml version="1.0"?>
<module name="syslogd">

	<type>Element</type>

	<classification>SDK</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>os</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<component id="syslogd" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				syslogd
			</location>
		</component>

		<component id="header" generated="false">
			<kind type="header"/>
			<source available="true">
				<location basedir="public" runtime="false">
					.
				</location>
			</source>
		</component>

		<component id="config" generated="false">
			<kind type="config"/>
			<source available="true">
				<location basedir="config" runtime="true" subdirs="true">
					.
				</location>
			</source>
		</component>

	</contents>

</module>
