<?xml version="1.0"?>
<module name="rcs">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent></RuntimeComponent>

	<contents>
		<component id="rcs" generated="true">
			<location basedir="nto-x86-o" os="nto" isa="x86" runtime="true">
				rcs
			</location>
		</component>

	</contents>

</module>
