<?xml version="1.0"?>
<module name="hd">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability>
			<os name="nto">
				<cpu isa="x86"/>
			</os>
			<os name="win32">
				<cpu isa="x86"/>
			</os>
		</availability>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<package isHost="true">
		<component id="hd" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				hd
			</location>
		</component>
		</package>
		<package>
			<component id="hd_target" generated="true">
				<location basedir="{os}/{cpu}/o{.:endian}" os="nto" isa="{cpu}" byteorder="{endian}" runtime="true">
					hd
				</location>
			</component>
		</package>
	</contents>

	<requires>
		<part build="true" location="lib/compat"/>
	</requires>

</module>
