<?xml version="1.0"?>
<module name="dirname">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<package isHost="true">
		<component id="dirname" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				dirname
			</location>
		</component>
		</package>

		<package>
		<component id="dirname_target" generated="true">
			<location os="nto" isa="{cpu}" byteorder="{endian}" basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				dirname
			</location>
		</component>
		</package>

	</contents>

	<requires>
		<part build="false" location="lib/util"/>
	</requires>

</module>
