<?xml version="1.0"?>
<module name="on">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


	<GroupOwner>tools</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>

	<contents>
		<component id="on" generated="true">
			<location basedir="{os}/{cpu}/{o|endian}" runtime="true">
				on
			</location>
		</component>

	</contents>

	<requires>
		<part build="true" location="lib/login"/>
	</requires>
</module>
